<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Package
		Name="NnPensionTracker"
		Manufacturer="Dust in the Wind"
		Version="$(var.ProductVersion)"
		UpgradeCode="2F8E1A3C-7B4D-4F9A-B5C6-E8D3A21F0C7B"
		Scope="perMachine">
		
		<MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

		<Feature Id="Main">
			<ComponentGroupRef Id="BinariesComponents" />
			<ComponentGroupRef Id="AppSettingsComponents" />
			<ComponentGroupRef Id="PathComponents" />
		</Feature>
		
	</Package>
</Wix>
