<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
	<PropertyGroup>
		<Configuration>Release</Configuration>
		<Platform>Any CPU</Platform>
		<PublishDir>$(SolutionRoot)publish\win-x64\</PublishDir>
		<RuntimeIdentifier>win-x64</RuntimeIdentifier>
		<SelfContained>false</SelfContained>
		<PublishSingleFile>false</PublishSingleFile>
		<PublishReadyToRun>false</PublishReadyToRun>
	</PropertyGroup>
	<ItemGroup>
		<Content Update="appsettings.json">
			<CopyToPublishDirectory>Never</CopyToPublishDirectory>
		</Content>
		<None Update="portable">
			<CopyToPublishDirectory>Never</CopyToPublishDirectory>
		</None>
	</ItemGroup>
</Project>
